{% extends 'base.html' %}

{%block content%}
 <h2>Register a New Account</h2>
    <hr>
    <form action="{{ url_for('register') }}" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>


{%endblock%}